
<ul>
  <% @lists.each do |list|  %>
    <li>
      <%= list.name %> <%= linkt_to "Delete List", destroy_path %>
    </li>
  <% end %>
</ul>

<h1>Create a new list</h1>
<%= form_for @list, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :body, size: "60x12" %>
  <%= f.submit "Create" %>
<% end %>
