<h1>Create a new list</h1>

<%= render :partial => "form", :object => f %>

<%# <%= form_for @list, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<%#  <%= f.text_field :name %>
<%#  <%= f.text_area :body, size: "60x12" %>
<%#  <%= f.submit "Create" %>
<%#<% end %>
<%# Dropdown/Search bar for movies %>
